/* Importación de fuentes */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600;700&display=swap');

/* Definición de variables */
:root {
    /* Fuentes */
    --title-font: 'Titillium Web', sans-serif;
    --text-font: 'Open Sans', sans-serif;
    --unicauca-font: 'EB Garamond', serif;

    /* Tamaños */
    --title-size: 34px;
    --title2-size: 24px;
    --title3-size: 20px;
    --title4-size: 18px;
    --title5-size: 16px;
    --title6-size: 16px;
    --text-size: 16px;
    --text2-size: 16px;
    --text3-size: 14px;
    --buttons-size: 14px;
    --unicauca-size: 16px;

    /* Pesos */
    --bold: 700;
    --semibold: 600;
    --regular: 400;
}

/* Aplicación de estilos */
.title {
    font-family: var(--title-font);
    font-size: var(--title-size);
    font-weight: var(--bold);
}

.title2 {
    font-family: var(--title-font);
    font-size: var(--title2-size);
    font-weight: var(--bold);
}

.title3 {
    font-family: var(--title-font);
    font-size: var(--title3-size);
    font-weight: var(--semibold);
}

.title4 {
    font-family: var(--title-font);
    font-size: var(--title4-size);
    font-weight: var(--bold);
}

.title5 {
    font-family: var(--title-font);
    font-size: var(--title5-size);
    font-weight: var(--semibold);
}

.title6 {
    font-family: var(--title-font);
    font-size: var(--title6-size);
    font-weight: var(--regular);
}

.text {
    font-family: var(--text-font);
    font-size: var(--text-size);
    font-weight: var(--bold);
}

.text2 {
    font-family: var(--text-font);
    font-size: var(--text2-size);
    font-weight: var(--bold);
}

.text3 {
    font-family: var(--text-font);
    font-size: var(--text3-size);
    font-weight: var(--semibold);
}

.button-text {
    font-family: var(--text-font);
    font-size: var(--buttons-size);
    font-weight: var(--bold);
}

.unicauca-text {
    font-family: var(--unicauca-font);
    font-size: var(--unicauca-size);
    font-weight: var(--semibold);
}
.button-container {
    position: absolute;
    bottom: 20px; 
    left: 20px; 
}